

body {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #181818;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.container {
    width: 60em;
    height: 38em;
    margin: 50px auto; /* Center the container */
    padding: 100px;
    background-color: #ffffff;
    border-radius: 20px; /* Optional: adds nice rounding */
    position: relative;
    
}
@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.container::after, .container::before{
    content: '';
    position: absolute;
    height: 98%;
    width: 99%;
    background-image: conic-gradient(from var(--angle),
    #ff4d4d,   /* red (classic dice red) */
  #ffa500,   /* orange */
  #ffff66,   /* yellow */
  #66ff66,   /* green */
  #66b3ff,   /* light blue */
  #cc99ff,   /* purple */
  #ff4d4d
  );
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 10px;
    border-radius: 20px;
    animation: 5s spin linear infinite;

}
.container::before{
    filter: blur(2.5rem);
    opacity: 1;
}
@keyframes spin{
    from{
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}


h1 {
    margin-top: 10px;
    font-size: 5em;
    font-weight: 200;
    color: #000000;
}

#myP {
    display: block;
    margin-top: 10px;
    margin-bottom: 80px;
    font-size: 9em;
    font-weight: 200;
}

#buttonContainer {
    font-size: 10px;
}

.buttons {
    padding: 10px 20px;
    margin-bottom: 20px;
    font-size: 3.5em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buttons:hover {
    background-color: #000000;
}

#increaseBtn:hover {
    background-color: #00ff00;
    color: #ffffff;
}

#decreaseBtn:hover {
    background-color: #ff0000;
    color: #ffffff;
}

#resetBtn:hover {
    background-color: #868686;
    color: #ffffff;
}

#increaseBtn {
    margin: 1px;
    font-weight: 400;
    background-color: #eeeeee;
    border: 2px solid #000000;
    color: #000000;
}
#decreaseBtn {
    margin: 1px;
    padding-left: 24px;
    padding-right: 24px;
    font-weight: 400;
    background-color: #eeeeee;
    border: 2px solid #000000;
    color: #000000;
}
#resetBtn {
    font-family: "Inter";
    font-weight: 300;
    margin: 1px;
    font-weight: 400;
    background-color: #eeeeee;
    border: 2px solid #000000;
    color: #000000;
}
